@import "../utils/utils.pcss";

@callFn .undone-tasks-content {
  color: var(--color-pic-desc);
  font-size: px2rem(72);
  font-weight: 600;
}

.add-tasks {
  position: 'absolute';
  bottom: 0.2rem;
  right: 0.2rem;
}
